{% extends "account/base.html" %}

{% load i18n static %}
{% block head_title %}{% translate "Changed Password" %}{% endblock %}

{% block inner %}
<div>
  <a href="/"><img class="mx-auto h-12 w-auto animate-bounce" src="{% static 'images/favicons/logo.svg' %}" alt="logo"></a>
  <h2 class="mt-6 text-center text-3xl font-extrabold text-light">{% translate "Changed Password" %}</h2>
</div>
    <div class="w-full border-md p-6 bg-primary/20 text-light">

      <p>{% translate 'Your password is now changed.' %}</p>

    </div>
{% endblock %}
