<div class="w-full flex-col justify-items-center justify-between items-center">
  <div class="w-30 h-30 flex object-center rounded-full bg-primary text-dark">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 flex mx-auto my-auto" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
    </svg>
  </div>
  <div class="w-full flex flex-col justify-center items-center">
    <h1 class="text-2xl font-bold text-center text-primary">Transfer Complete</h1>
    <p class="text-center text-white-600">{{message}}</p>
  </div>
</div>
