{% load static compress %}

{% compress css inline %}
<!-- bootstrap css -->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css" media="all" />
<!-- animate css -->
<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" type="text/css" media="all" />
<!-- owl carousel css -->
<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}"  type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}"  type="text/css" media="all" />
<!-- meanmenu css -->
<link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}" type="text/css" media="all" />
<!-- magnific popup css -->
<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}" type="text/css" media="all" />
<!-- boxicons css -->
<link rel='stylesheet' href="{% static 'assets//css/boxicons.min.css' %}" type="text/css" media="all" />
<!-- Line Awesome CSS -->
<link rel='stylesheet' href="{% static 'assets//css/line-awesome.min.css' %}" type="text/css" media="all" />
<!-- flaticon css -->
<link rel='stylesheet' href="{% static 'assets//css/flaticon.css' %}" type="text/css" media="all" />
<!-- style css -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css" media="all" />
<!-- responsive css -->
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" type="text/css" media="all" />

<link rel="stylesheet" href="{% static 'css/iziToast.min.css' %}">

{% endcompress %}
