{% load static compress %}

{% compress js inline %}
<script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- magnific popup js -->
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- owl carousel js -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!-- form ajazchimp js -->
<script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
<!-- form validator js  -->
<script src="{% static 'assets/js/form-validator.min.js' %}"></script>
<!-- contact form js -->
<script src="{% static 'assets/js/contact-form-script.js' %}"></script>
<!-- meanmenu js -->
<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
<!-- waypoints js -->
<script src="{% static 'assets/js/jquery.waypoints.js' %}"></script>
<!-- counter js -->
<script src="{% static 'assets/js/counter-up.js' %}"></script>
<!-- main js -->
<script src="{% static 'assets/js/script.js' %}"></script>

<script src="{% static 'js/iziToast.min.js' %}"></script>

{% endcompress %}
